@using Microsoft.AspNetCore.Components.Authorization
@using ThiTracNghiemV3.Shared
<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Hệ Thống Thi Trắc Nghiệm</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <AuthorizeView>
      <Authorized Context="authContext">
        <AuthorizeView Roles="@(nameof(UserRole.Admin))" Context="adminContext">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/categrories">
              Quản Lý Môn Học
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/manage-quizes">
              Quản Lý Bài Thi
            </NavLink>
          </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/add-quizes">
              Thêm Bài Thi
            </NavLink>
          </div>
        </AuthorizeView>

        <AuthorizeView Roles="@(nameof(UserRole.Student))" Context="studentContext">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-quizes">
              Bài Thi Cá Nhân
            </NavLink>
          </div>
        </AuthorizeView>
      </Authorized>
    </AuthorizeView>
    <div class="nav-item px-3">
      <a class="nav-link" href="logout">
        Đăng Xuất
      </a>
    </div>
  </nav>
</div>

@code {
  private bool collapseNavMenu = true;

  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }
}
